div#page {
	border: 1px solid purple;
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	text-align: left;
}



html{

		overflow-x: hidden;
	



}
body {
	background-color: #F1F1FC;
	height: 100vh;
	margin: 0 0 0 0;
	padding: 0 0 0 0;


}


div#notheader {


	margin: 0 100px 0 100px;
	padding: 0 0 0 0;

}



h1#listheader{


font-size: 20px;
padding-bottom: 5px;
margin-left: 10px;



}


div#forum > h1{
	width: 90%;
	margin: 20px 0 0 20px;

border-bottom: solid blue;


}



div#header {
	border-bottom: solid grey;
	width: 100%;
	height: 80px;

}


div#menu {
	border: 2px solid green;
	width: 250px;
	float: left;
	margin: 0px 10px 10px 50px;
	height: 600px;
}

div#forum {





	border: 2px solid blue;
	width: 75%;
	margin: 10px 100% 10px 350px;
	min-height: 500px;
	_height: 500px;
}

div#content {

	margin: 0 0 0 0;
	padding: 0 0 0 0;
}



ul#headerlist{

text-align: center;


}


div#footer {


display: flex;
background-color: black;
color: white;

align-items: center;
justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;


	width: 100%;
	height: 80px;
}



