body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}


.article1>header {
	color: black;
	font-size: 1.5rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	margin-bottom: 20px;


}



main {

	margin: 0;
	padding: 0;
}


.tables {

	display: table;


}

.tables .col {
	padding: 10px;
	display: table-cell;


}


.firstsection {

	border-bottom: 2px solid lightgray;
	padding-top: 2rem;

	margin: 0px 0px 10px 0px;




}









.videocontainer {
	float: right;
	width: 560px;
	height: 315px;
	padding-left: 150px;


}



.imagetext {

	color: rgb(102, 102, 102);
	text-align: justify;


}



.tab1 {
	display: inline;

	float: center;
	color: coral;
	padding: 0 10px 0 10px;

	margin: 0px 0px 5px 10px;

}

.tab2 {
	display: inline;

	float: center;
	color: coral;

	margin: 0px 10px 5px 10px;

}

.tab3 {
	display: inline;

	float: center;
	color: rgb(255, 255, 255);

	margin: 0px 0px 0px 0px;
	padding-left: 5px;
}

.tab4 {
	display: inline;

	float: right;
	color: rgb(255, 255, 255);

	padding-right: 25px;

	margin: 0px 10px 5px 10px;

}


.tabsearch {

	background-color: rgb(216, 216, 216);
	color: grey;
	border: 1px color black;
	width: 400px;
	height: 50px;
	border-radius: 20px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	margin-right: 30px;

	padding-top: 0px;


}

.morebutton {

	background-color: coral;
	color: rgb(255, 255, 255);
	border: 1px color black;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	margin-right: 30px;

	padding-top: 0px;


}










.listheader1 {


	font-size: 1.1rem;
	text-align: left;
	float: inline-start;
	margin-left: 0;
	color: black;
	padding-bottom: 1rem;
	padding-top: 22px;
	padding-left: 10px;


	margin: 0px 10px 0px 0px;



}



.listheader2 {


	font-size: 1.1rem;
	text-align: left;
	float: inline-start;
	margin-left: 0;
	color: black;
	padding-bottom: 1rem;


	margin: 0px 10px 0px 0px;

}




.ender {
	font-size: 1.1rem;
	text-align: left;
	float: inline-start;
	margin-left: 0;
	color: black;
	margin-top: 0;
	margin: 0 0 0 0;
	padding-top: 4px;




}



.bottom {
width: 80%;

	padding-top: 2rem;
	padding-top: .5rem;
padding-right: 0px;
	margin: 0px 0px 10px 0px;




}


.top1 {

	padding-top: 10px;
	padding-bottom: 4rem;
	background-color: rgb(255, 255, 255);
	margin-top: 1px;
	margin-bottom: 0px;




}


.top1>li {
	float: right;


}

.top2 {

	margin-top: 0px;
	background-color: rgb(213, 213, 213);

	line-height: 0px;

	padding-top: 30px;
	padding-bottom: 2rem;
	text-align: center;








}


.bottom {


	background-color: rgb(116, 116, 116);


	padding-top: 1rem;
	padding-bottom: 1rem;

	margin: 0px 0px 0px 0px;



}












.notheader {

	margin-right: 300px;
	margin-left: 300px;

margin-bottom: 0;

}

.notheader img {

	max-width: 500px;
	max-height: 250px;
}


header>h1>.subtitle {
	display: block;
	font-size: 1.5rem;
	border-top: 1px solid maroon;
	padding-top: 1rem;
	margin-top: 1rem;
}

.toph>img {
	width: 100%;
}

/* Buttons */

.buttons {
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;

}


.lastbutton {
	text-align: right;


}




.buttons>div {
	display: inline-block;
	width: 12%;

	margin: 5px;
	padding: 10px;
	vertical-align: bottom;
	height: 120px;
}


.buttons>.cardlast {

	width: 100%;
	text-align: center;



	height: 120px;
}


.buttons>div>ul,
.buttons>div>p {
	text-align: left;
}


.actualcards>h2 {

	margin-top: 0;


}

.buttons>div>h2 {

	background-color: coral;
	border: 1px color black;
	width: 170px;
	height: 75px;
	border-radius: 10px;
	line-height: 75px;
	display: inline-block;
}


.buttons>.cards1 {


	border: 1px color black;
	width: 170px;
	height: 120px;
	border-radius: 10px;
	line-height: 75px;
	display: inline-block;
}










.buttontext {
	text-align: center;
	color: white;
	font-size: 1.4rem;



}



.cards1 {
	width: 160px;
	text-align: center;
	padding-left: 0px;

}



/*  */

/* Cards */
.actualcards {
	width: auto;
	overflow: auto;
	float: left;


}

.actualcards div>img {
	width: 100%;
	object-fit: cover;
	width: 230px;
	height: 230px;
	text-align: left;
	float: left;
	border-radius: 20px;

	margin-right: 10px;

}

.actualcards>div {
	display: inline-block;
	width: 650px;
	background-color: white;
	border: 1px solid lightgrey;
	margin: 0px;
	padding: 15px;
	vertical-align: top;
	height: 250px;
}

.actualcards>div>ul,
.actualcards>div>p {
	text-align: left;
}




/*                      */
.actualcards2 {
	width: 50%;
	float: left;

}

.actualcards2 div>img {
	width: 100%;
	text-align: left;


}

.actualcards2>div {
	display: inline-block;
	width: 500px;
	border-radius: 15px;
	background-color: rgb(203, 203, 203);
	border: 1px solid lightgrey;
	margin: 0px;
	padding: 15px;
	vertical-align: top;
	height: 900px;
}

.actualcards2>div>ul,
.actualcards2>div>p {
	text-align: left;
}
















.cards>div {
	display: inline-block;
	width: 15%;

	margin: 10px;
	padding: 10px;
	vertical-align: bottom;
	height: 300px;
}

.cards>div>ul,
.cards>div>p {
	text-align: left;
}

.cards>div>h2 {

	background-color: black;

	width: 200px;
	height: 200px;
	border-radius: 120px;
	line-height: 200px;
	display: inline-block;
}



.cardtext {
	text-align: left;
	color: white;
	font-size: 1.6rem;



}

blockquote {
	font-size: 2rem;
	color: maroon;
	text-align: center;
}

blockquote::before,
blockquote::after {
	content: '"';
	font-size: 2rem;
	color: gray;

}








table {
	background-color: rgb(51, 51, 51);
	width: 100%;
	padding: 0px;

	table-layout: fixed;

	border-collapse: collapse;
}



table>thead {
	padding-top: 20px;
	padding-left: 10px;

	text-align: left;

	font-size: 1.2rem;

}




th,
body {
	color: black;

}


th {

	padding: 10px;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	color: white;
}

thead {

	padding: 10px;



}

td {
	padding: 10px;
	padding-left: 1.5rem;
	padding-bottom: 20px;
	color: coral;
}


.thirdsection {
	padding: 0px;
	margin: 0px;

}




/* Mobile View */
@media all and (min-width: 400px) {
	main {
		background-color: rgb(216, 140, 140);
	}




	.flex-items2 {
		display: none;

	}


	.notheader{
		margin: 10px;
	}


	.tabsearch {

		display: none;
	}

	.top2{
		display: none;
	}


	.bottom > .tab3{

		display: none;


	}

	.bottom > .tab4{
	display: block;
	text-align: left;
	}
	.bottom{
text-align: left;
float: left;

	}


	.actualcards>div {
		display: inline-block; 
		width: 400px;
		background-color: white;
		border: 1px solid lightgrey;
		margin: 0px;
		padding: 15px;
		padding-top: 20px;
		
		vertical-align: top;
		height: 461px;
	}

	
.actualcards div>img {
	width: 100%;
	
	width: 100%;
	
	text-align: left;
	
	border-radius: 20px;
	padding-bottom: 10px;
	margin-right: 10px;

}



.morebutton{
	display: none;
}


.top1{
	border-bottom: color grey;
}

.notheader{

	padding-bottom: 0;
	margin-bottom: 0;
}


.bottom{
	text-align: center;
	display: inline-block;
	width: 95%;
padding-left: 150px;
	
		}
.bottom > .tab4{
	text-align: center;
	float: left;
	


}
		


}


/* Tablet view */
@media all and (min-width: 700px) {
	main {
		background-color: rgb(120, 120, 187);

	}








	.actualcards{
		text-align: center;
		



	}

	.flex-items2 {
		display: none;
	
	}

	.tabsearch {

		display: none;
	}

	.notheader {
		margin: 10px;
	}

	.top2{
		display: block;
	}


	.bottom > .tab3{
		
		display: block;


	}


	.notheader {

		margin-right: 300px;
		margin-left: 10px;
	
	margin-bottom: 0;

	}

	.bottom > .tab3{

		display: inline-block;
	}

	.bottom > .tab4{
		display: inline-block;
		
		}


		.bottom{
	
			display: inline-block;
			width: 100%;
			
				}


				.bottom > .tab4{
					display: inline-block;
					padding-right: 50px;
					
					}


					

.actualcards div>img {
	width: 100%;
	object-fit: cover;
	width: 230px;
	height: 230px;
	text-align: left;
	float: left;
	border-radius: 20px;

	margin-right: 10px;

}


.actualcards>div {
	display: inline-block;
	width: 650px;
	background-color: white;
	border: 1px solid lightgrey;
	margin: 0px;
	padding: 15px;
	vertical-align: top;
	height: 280px;
}



.morebutton {

	background-color: coral;
	color: rgb(255, 255, 255);
	border: 1px color black;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	margin-right: 30px;

	padding-top: 0px;


}



}

/* Desktop view */
@media all and (min-width: 1000px) {
	main {
		background-color: rgb(19, 63, 64);
		width: auto;
	}


	.top2{
		display: block;
	}
	.flex-items2 {
		display: flex;
	}

	.flex-items{
		margin-right: 100px;



	}
	.tabsearch{

		display: block;
	}


	.bottom > .tab3{
float: left;
		
	}

	.bottom > .tab4{
		margin-right: 150px;
	
		float: right;
		
		}
		.bottom{
	
	display: inline-block;
	width: 100%;
	
		}

		
.bottom {


	background-color: rgb(116, 116, 116);


	padding-top: 1rem;
	padding-bottom: 1rem;

	margin: 0px 0px 0px 0px;



}

		.notheader {

			margin-right: 300px;
			margin-left: 300px;
		
		margin-bottom: 0;
	
		}





.tab4{

	padding-right: 10px;
	margin-right: 0px;
}









.actualcards div>img {
	width: 100%;
	object-fit: cover;
	width: 230px;
	height: 230px;
	text-align: left;
	float: left;
	border-radius: 20px;

	margin-right: 10px;

}


.actualcards>div {
	display: inline-block;
	width: 580px;
	background-color: white;
	border: 1px solid lightgrey;
	margin: 0px;
	padding: 15px;
	vertical-align: top;
	height: 350px;
}

.wrapper > div {

	width: 100%;
}



.morebutton {

	background-color: coral;
	color: rgb(255, 255, 255);
	border: 1px color black;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	margin-right: 30px;

	padding-top: 0px;


}







}
/* END OF DESKTOP VIEW */









aside {
	margin-left: 200px;
	padding-left: 1;
	text-align: left;
	width: 600px;

}


.wrapper> {
	white-space: normal;
	width: 600px;
	height: 1000px;


}

.wrapper {
	display: grid;
	white-space: normal;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
}